<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>baktestdemoWeb</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>controller.pageController.LoginCheck</servlet-class>
    <init-param>
      <description></description>
      <param-name>adminuname</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>adminpass</param-name>
      <param-value>admin</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCustomer</display-name>
    <servlet-name>CreateCustomer</servlet-name>
    <servlet-class>controller.pageController.CreateCustomer</servlet-class>
    <init-param>
      <description></description>
      <param-name>default_pass</param-name>
      <param-value>password</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCustomer</servlet-name>
    <url-pattern>/CreateCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAccount</display-name>
    <servlet-name>AddAccount</servlet-name>
    <servlet-class>controller.pageController.AddAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccount</servlet-name>
    <url-pattern>/AddAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseAccount</display-name>
    <servlet-name>CloseAccount</servlet-name>
    <servlet-class>controller.pageController.CloseAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAccount</servlet-name>
    <url-pattern>/CloseAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAccountDetailsByUid</display-name>
    <servlet-name>ViewAccountDetailsByUid</servlet-name>
    <servlet-class>controller.pageController.ViewAccountDetailsByUid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAccountDetailsByUid</servlet-name>
    <url-pattern>/ViewAccountDetailsByUid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAccountDetailsByAcNo</display-name>
    <servlet-name>ViewAccountDetailsByAcNo</servlet-name>
    <servlet-class>controller.pageController.ViewAccountDetailsByAcNo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAccountDetailsByAcNo</servlet-name>
    <url-pattern>/ViewAccountDetailsByAcNo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.pageController.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>controller.pageController.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllAccountCustomer</display-name>
    <servlet-name>ViewAllAccountCustomer</servlet-name>
    <servlet-class>controller.pageController.ViewAllAccountCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllAccountCustomer</servlet-name>
    <url-pattern>/ViewAllAccountCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAccountByAcNoCustomer</display-name>
    <servlet-name>ViewAccountByAcNoCustomer</servlet-name>
    <servlet-class>controller.pageController.ViewAccountByAcNoCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAccountByAcNoCustomer</servlet-name>
    <url-pattern>/ViewAccountByAcNoCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundTransfer</display-name>
    <servlet-name>FundTransfer</servlet-name>
    <servlet-class>controller.pageController.FundTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundTransfer</servlet-name>
    <url-pattern>/FundTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTransactionHistory</display-name>
    <servlet-name>ViewTransactionHistory</servlet-name>
    <servlet-class>controller.pageController.ViewTransactionHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTransactionHistory</servlet-name>
    <url-pattern>/ViewTransactionHistory</url-pattern>
  </servlet-mapping>
</web-app>